<div class="stockdata">


    <dx-data-grid id="gridContainer"
    [dataSource]="stockSymbol"
    [masterDetail]="{ enabled: true, template: 'detail' }"
    keyExpr="symbol"
    [showBorders]="true"
    (click) = "clickRow()"
    >

    <div class="input-group m-b">
        <dxo-search-panel
        class="form-control"
        [visible]="true"
        [width]="340"
        placeholder="Search...">
        </dxo-search-panel>
    </div>

    <dxi-column dataField="description" caption="Name"></dxi-column>
    <dxi-column dataField="symbol"[width]="50"> </dxi-column>
    <dxi-column dataField="type" [width]="50"></dxi-column>
    <dxi-column dataField="currency" [width]="50"></dxi-column>
    <!-- <div *dxTemplate="let cProfile of 'detail' | busFilter: searchStr: searchField">

    </div> -->

    <!-- <dxi-column dataField="BirthDate" dataType="date"></dxi-column> -->

    <div *dxTemplate="let cProfile of 'detail'">
        <div class="master-detail-caption">{{cProfile.data.description + " " + cProfile.data.displaySymbol + "'s Profile:"}}</div>
        <dx-data-grid
            [dataSource]="getcProfileDataSourceStorage(cProfile.key)"
            [showBorders]="true"
            [columnAutoWidth]="true"
            >
                <dxi-column dataField="country"></dxi-column>
                <dxi-column dataField="name"></dxi-column>
                <dxi-column dataField="exchange"></dxi-column>
                <dxi-column dataField="ipo"></dxi-column>
        </dx-data-grid>
    </div>
</dx-data-grid>
</div>
